stages:
  - test
  - build

variables:
  FLUTTER_VERSION: "3.10.4" # Or "stable"

image: ghcr.io/cirruslabs/flutter:${FLUTTER_VERSION}

before_script:
  - flutter pub get

test:
  stage: test
  script:
    - flutter test

build_android:
  stage: build
  script:
    - flutter build apk --release
  artifacts:
    paths:
      - build/app/outputs/flutter-apk/app-release.apk
